:root {
    --black-color: #212121;
    --white-color: #FFFFFF;
    --gray-color: #757575;
    --accent-color: #2196F3;
    --gray-background: #F5F4FA;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--gray-color)    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1, h2, h3, p {
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.page-header {    
    border-bottom: 1px solid #ECECEC;
}

.container {
    margin-left: auto;
    margin-right: auto;

    width: 1200px;
    padding: 0 15px;    
}

.box {
    display: flex;
    align-items: center;
    margin-bottom: -1px;    
}

.nav-box .list,
.adventages .list,
.about-us .list,
.team .list,
.portfolio .list, .clients .list {
    display: flex;    
}

.nav-box .item:not(:last-child) {
    margin-right: 50px;    
}

.nav-box a {    
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-contacts {
    display: flex;
    margin-left: auto;    
}

.nav-contacts a {
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-contacts a:not(:last-child) {
    margin-right: 50px;    
}

.nav-contacts .contacts {
    display: flex;
    align-items: center;    
}

.contacts .icon {
    margin-right: 10px;    
}

.icon {
    fill: currentColor;
}

.logo {
    padding-top: 15px;
    padding-bottom: 15px;

    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo.black {
    margin-right: 93px;
    color: #000000;
}

.logo.white {
    display: inline-block;
    margin: 0 0 20px;
    padding: 0;

    color: #FFFFFF;
}

.logo span {
    color: #2196F3;
}

.link.current {
    color: var(--accent-color);
}

.link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-color);
    text-decoration: none;    
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--gray-color);
    text-decoration: none;
}

.hero {    
    padding: 200px 0;
    text-align: center;
    margin: auto;
    max-width: 1600px;
    height: 600px;    
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url("../images/background-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.hero h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.hero .button {
    margin-top: 30px;
    
    padding: 10px 32px;
    border-radius: 4px;
    border: transparent;
    min-width: 200px;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;    
    color: var(--white-color);
    background-color: var(--accent-color);
}

.hero .button:hover {
        color:var(--accent-color);
        background-color:var(--white-color);
}

.hero .button:focus {
    color: var(--accent-color);
    background-color: var(--white-color);
}

.portfolio .button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--black-color);
    background-color: var(--gray-background);
}

.button {
    cursor: pointer;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.adventages.section {
    padding-bottom: 0;
}

.adventages h3 {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
}

.adventages p {
    line-height: 1.71;
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;    
    width: 270px;
    height: 120px;
    border-radius: 4px;

    background-color: #F5F4FA;
}

.adventages .item {
    width: 270px;
}

.team {
    background-color: #F5F4FA;
}

.adventages .item:not(:last-child),
.about-us .item:not(:last-child),
.team .item:not(:last-child) {
    margin-right: 30px;
}

.team .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px 0,
    rgba(0, 0, 0, 0.14) 0 1px 1px 0,
    rgba(0, 0, 0, 0.12) 0 1px 3px 0;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
}

.about-us h2, .team h2, .clients h2 {
    margin-bottom: 50px;
    
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--black-color);
}

.team h3 {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-color);
}

.team p {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
        
    color: #AFB1B8;
}

.socials:hover, .socials:focus {
    color: var(--white-color);
    background-color: var(--accent-color)
}

.socials-items:not(:last-child) {
    margin-right: 10px;
}

.clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid;
    border-radius: 4px;

    color: #AFB1B8;    
}

.clients-item:hover, .clients-item:focus {
    color: var(--accent-color);
}

.clients-list:not(:last-child) {
    margin-right: 30px;
}

.page-footer {
    padding: 60px 0;
    background-color: #2F303A;
}

.page-footer .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.page-footer .socials:hover,
.page-footer .socials:focus {
    background-color: var(--accent-color);
}

.footer-address {
    width: 231px;
}

.footer-socials {
    margin-left: 70px;
}

.footer-socials .list {
    display: flex;    
}

.footer {
    display: flex;
}

.page-footer h2 {
    margin-top: 12px;

    font-size: 14px;
    line-height: 1.14;    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--white-color);
}

.item-address:not(:last-child) {
    margin-bottom: 9px;
}

.contacts.location  {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.contacts.mail, .contacts.phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.link:hover,
.contacts:hover {
    color: var(--accent-color);
}

.link:focus,
.contacts:focus {
    color: var(--accent-color);
}

.portfolio .button:hover,
.portfolio .button:focus {
    color: var(--white-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works .link:hover,
.works .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works h2 {
    padding-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-color);
}

.works p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}

.portfolio .list, .team .list, .clients .list  {
    justify-content: center;
}

.portfolio .button {
    padding: 6px 22px;
    border-radius: 4px;
    border: transparent;    
}

.portfolio .btn:not(:last-child) {
    margin-right: 8px;
}

.works .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.item .link {
    display: flex;
    flex-direction: column;
    align-items:flex-start;    
}

.text-item {
    padding: 20px 24px;
    min-width: 370px;    
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.works .item {
    margin-right: 30px;
}

.works .item:nth-child(3n) {
    margin-right: 0;
}

.works .item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}