:root {
    --black-color: #212121;
    --white-color: #FFFFFF;
    --gray-color: #757575;
    --blue-color: #2196F3;
    --blue-background: #2196F3;
    --gray-background: #F5F4FA;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--gray-color)    
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    margin-left: auto;
    margin-right: auto;

    width: 1200px;
    padding: 0 15px;    
}

.box {
    display: flex;
    align-items: center;
    margin-bottom: -1px;    
}

.nav-box .list,
.adventages .list,
.about-us .list,
.team .list,
.portfolio .list {
    display: flex;    
}

.nav-box .item:not(:last-child) {
    margin-right: 50px;    
}

.nav-box a {    
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-contacts {    
    margin-left: auto;    
}

.nav-contacts a {
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-contacts a:not(:last-child) {
    margin-right: 50px;    
}

.logo {
    padding-top: 15px;
    padding-bottom: 15px;

    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo.black {
    margin-right: 93px;
    color: #000000;
}

.logo.white {
    display: inline-block;
    margin: 0 0 20px;
    padding: 0;

    color: #FFFFFF;
}

.logo span {
    color: #2196F3;
}

.link.current {
    color: var(--blue-color);
}

.link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-color);
    text-decoration: none;    
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--gray-color);
    text-decoration: none;
}

.hero {    
    padding: 200px 0;
    text-align: center;

    background-color: #2F303A;
}

.hero h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.hero .button {
    margin-top: 30px;
    
    padding: 10px 32px;
    border-radius: 4px;
    border: transparent;
    min-width: 200px;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;    
    color: var(--white-color);
    background-color: var(--blue-background);
}

.hero .button:hover {
        color:var(--blue-background);
        background-color:var(--white-color);
}

.hero .button:focus {
    color: var(--blue-background);
    background-color: var(--white-color);
}

.portfolio .button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--black-color);
    background-color: var(--gray-background);
}

.button {
    cursor: pointer;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.adventages.section {
    padding-bottom: 0;
}

.adventages h2,
.portfolio h1 {
    visibility: hidden;
}

.adventages h3 {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
}

.adventages p {
    line-height: 1.71;
}

.adventages .item {
    width: 270px;
}

.adventages .item:not(:last-child),
.about-us .item:not(:last-child),
.team .item:not(:last-child) {
    margin-right: 30px;
}

.team .item {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.about-us h2, .team h2 {
    margin-bottom: 50px;
    
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--black-color);
}

.team h3 {
    padding-top: 30px;
    padding-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-color);
}

.team p {
    padding-bottom: 30px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}

.page-footer {
    padding: 60px 0;
    background: #2F303A;
}

.item-address:not(:last-child) {
    margin-bottom: 9px;
}

.contacts.location  {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.contacts.mail, .contacts.phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.link:hover,
.contacts:hover {
    color: var(--blue-color);
}

.link:focus,
.contacts:focus {
    color: var(--blue-color);
}

.portfolio .button:hover {
    color: var(--white-color);
    background: var(--blue-background);
}

.portfolio .button:focus {
    color: var(--white-color);
    background: var(--blue-background);
}

.works h2 {
    padding-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-color);
}

.works p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}

.portfolio .list {
    justify-content: center;
}

.portfolio .button {
    padding: 6px 22px;
    border-radius: 4px;
    border: transparent;    
}

.portfolio .btn:not(:last-child) {
    margin-right: 8px;
}

.works .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.item .link {
    display: flex;
    flex-direction: column;
    align-items:flex-start;    
}

.text-item {
    padding: 20px 24px;
    min-width: 370px;    
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.works .item {
    margin-right: 30px;
}

.works .item:nth-child(3n) {
    margin-right: 0;
}

.works .item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}